<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Display GFA</title>
  </head>

  <body>
    <h1>Display GFAs Greater than or Equal to</h1>
    <form action="./processAdminGFA" method="post">
      <label><strong>GPA: </strong></label><input type="text" name="GPA">
      <input type="submit" value="Submit Request">
    </form>
    <hr>
    <a href="/">HOME</a>
  </body>
</html>